* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    &:hover {
        color: #5955d1 !important;
    }
}
.nav-link.active{
    color: #5955d1 !important;
    font-weight: 600;
}
#navbar-brand img {
    width: auto;
    height: 35px;
}
#navbar li a{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}
#dropdown-menu a {
    font-size: 14px;
    padding: 8px 20px;

    &:hover {
        background-color: #29294B;
        color: white;
    }
}

#Get {
    border-radius: 30px;
    font-size: 14px;
    font-weight: 700;
}

#line {
    border-bottom: 1px solid #696981;
    padding-top: 40px;
}

.blogimg img {
    opacity: 0.9;

    &:hover {
        opacity: 0.5;
    }
}

.blogs a {
    text-decoration: none;
    color: black;

    &:hover {
        color: #5955d1;
    }
}

.blogs button {
    background-color: #5955d1;
    transition: all 0.3s;

    &:hover {
        opacity: 0.5;
    }
}

form {
    display: flex;
    justify-content: center;
    border-radius: 30px;
}

.subscribe {
    &:hover {
        opacity: 0.5;
    }
}

.icons i {
    &:hover {
        color: #5955d1;
    }
}

.links ul li a {
    &:hover {
        color: #5955d1;
    }
}

@media screen and (min-width: 992px) {
    .footlink {
        padding-left: 85px;
    }
}
.same-img{
    height: 500px;
    object-fit:cover;
    border-radius: 20px;
}
.img1{
    height: 350px !important;
}
.img2{
    height: 350px !important;
}
.img3{
    height: 350px !important;
}
.ap{
    color: #29294B;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
}
#card h3{
    font-size: 15px;
}
#card p{
    font-size: 15px !important;
}
#card img{
    width: 30px;
    height: auto;
    padding-bottom: 30px;
}
#form label{
    font-size: 15px;
}
#from button{
    font-size: 15px;
}
